.app2 {
    grid-row: 2 / 3;
}

.app3 {
    grid-row: 3 / 4;
}

.app4 {
    grid-row: 4 / 5;
}

.app5 {
    grid-column: 2 /3;
    grid-row: 1 / 2;
}

.app6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}