#bar {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    margin-top: 122px;
    background: #01526F;
    border-radius: 1%;
    color: white;
    text-align: center;
}

#bar.hide {
    display: none;
}