#infoPerfil{
    padding: 3%;
}
.perfil>img{
    position: relative;
    z-index: 1;
}
.perfil>h4{
    position: absolute;
    z-index: 2;
    color: whitesmoke;
    top: 13%;
    left: 3%;
}
p>img{
    margin-bottom:4px;
}
p{
    padding: 7px;
    margin-bottom: 0;
}